.container {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: aliceblue !important;
}
.container-fluid {
  background-color: aliceblue !important;
}

.about {
  box-shadow: none !important;
}

.new-line {
  white-space: pre-line;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 0.5rem;
}
li a {
  color: #5b5555 !important;
}

li a:hover {
  text-decoration: none;
  color: #4981b3 !important;
}

@media (max-width: 768px) {
  li {
    display: block;
  }
}

@media (max-width: 1200px) {
  li {
    font-size: 1rem;
  }
}
