/*============= NAVIGATION =============*/
.navbar-brand p {
  font-size: 2.5rem;
}

.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 2;
  background-color: aliceblue !important;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: #5b5555 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #4981b3 !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem !important;
  }
}
